doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://www.paypal.com/sdk/js?client-id=AaGG5yhlxkZX-CsyTV4FaxyYdpIyTseKpQa2GggJ6krniVK12ScjBWm-ePY0tEsPdmMtC8i3-x2Hvlln&vault=true&intent=subscription", data-sdk-integration-source="button-factory")
  body
    block content
